*{
  padding: 0;
  margin: 0;
}

html, body{
  padding: 0;
  margin: 0;
  width:100%;
  height: 100%;
  overflow: hidden;
}

body {
  --header-height: 2.8rem;
  --header-bg: #111933;
  --header-bg2: #303850;
  --color-success: #19be6b;
  --color-warning: #ff9900;
  --color-error: #ed4014;
  --color-info:#2db7f5;
  --color-linkable: #3b73af;
  --color-text-1: #222;
  --color-text-2: #444;
  --color-text-3: #666;
  --color-text-4: #888;
  --color-text-5: #aaa;
  --color-text-6: #ccc;
}
ul {
  list-style: none;
}
/*清除浮动*/
.clr{
  clear: both;
}
.sww-clr-float{
  zoom: 1;
}
.sww-clr-float::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
ul.sww-ul-sww-clr-float{
  zoom: 1;
}
ul.sww-ul-sww-clr-float > li {
  float: left;
}
ul.sww-ul-sww-clr-float::after{
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
}
.sww-float-left {
  float: left;
}
.sww-float-right{
  float: right;
}
.sww-width-full {
  width: 100%;
}
.sww-height-full {
  height: 100%;
}
.sww-size-full {
  width: 100%;
  height: 100%;
}
/*超出省略号*/
.sww-text-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*普通页面的头部卡片,如blogList,albumList的统计卡片*/
.sww-page-header{
  background-color: #fff;
  margin: 0.5rem auto;
  padding: 0.6rem;
  border: 0.05rem solid #ccc;
  /* box-shadow: 0 0 0.2rem #ccc; */
}
.sww-page-header.sww-page-header-statistic > span{
  font-size: 0.7rem;
  color: #999;
  margin: 0 0 0 0.7rem;
}
.sww-page-header.sww-page-header-statistic > span::after{
  content: "|";
  margin-left: 0.7rem;
}
.sww-page-main{
  background-color: #fff;
  border: 0.05rem solid #e5e5e5;
  padding: 1rem;
}
.sww-page-main-info{
  color: #888;
  font-size: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 0.05rem solid #eee;
  box-sizing: border-box;
}
.sww-page-main-info > span{
  display: inline-block;
  margin-right: 1rem;
}
.sww-page-main-info > span i{
  margin-right: 0.3rem;
}
.sww-page-main-info > span.sww-css-tags > span{
  padding: 0.05rem 0.2rem;
  margin-right: 0.3rem;
  background-color: #888;
  color:#fff;
  cursor: pointer;
}
input {
  padding: 0.05rem 0.35rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0.15rem;
  width: 100%;
  font-size: 0.7rem;
  color:#495660;
  background-color: #fff;
  background-image: none;
  cursor: text;
  transition: all .2s;
  border: 0.05rem solid #dddee1;
}
input:focus{
  border-color: #2d8bf03b;
  box-shadow: 0 0 0.2rem #999;
}
@media only screen and (max-width: 1921px) {
  html {
    font-size: 20px;
  }
}